window#osd {
  border-radius: 10px;
  border: 2px solid rgba(180, 190, 254, 0.2);
  background: rgba(30, 30, 46, 0.7);
}

window#osd #container {
  margin: 6px;
  padding: 2px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
  color: #89b4fa;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(137, 180, 250, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #89b4fa;
}